@media (min-width: 992px) { 
	
	.media-xs { display: none; }
	.shin-image { text-align: right; }
	
}
@media (max-width: 992px) { 
	
	.media-md { display: none; }
	.shin-image { text-align: center; }
	.container-fluid, .container {
		padding: 0;
		margin: 0;
    }
	
}

body, html {
	
	padding: 0px;
	margin: 0px;
	overflow-x: hidden;
	
}

a {

	cursor: pointer;
	
}

header {
	
	position: fixed; 
	left: 0px; 
	top: 0px; 
	width: 100%; 
	text-align: center; 
	font-weight: bold; 
	background-color: white; 
	z-index: 999;
	font-size: 0px;
	
}

.header-button {

	font-size: 28px;
	display: inline-block;
	padding: 20px 20px;
	cursor: pointer;
	transition: all 0.5s;
	
}

.header-xs-button {

	font-size: 28px;
	padding: 20px 20px;
	cursor: pointer;
	text-align: center;
	transition: all 0.5s;
	
}

.header-xs-list {
	
	position: absolute;
	left: 0px;
	top: 100%;
	width: 100%;
	margin-left: calc( -100% - 2px );
	margin-top: -100%;
	
	background-color: white;
	text-align: center;
	overflow: hidden;
	transition: all 0.5s;
	box-shadow: 1px 1px 0px #ccc;
	
}

.header-xs-list.show {

	margin-top: 0px;
	margin-left: 0px;
	transition: all 0.5s;
	
}


.header-button:hover {
	
	border-bottom: black solid 4px;
	padding-bottom: 16px;
	transition: all 0.2s;
	
}
.header-item a {
	
	color: #616161;
	text-decoration: none;
	transition: all 0.2s;

}
.header-button:hover a {
	
	color: black;
	transition: all 0.5s;

}

.who-i-am-title {

	text-align: center; 
	margin-top: 100px;
	
}

.video-title {

	text-align: center; 
	margin-top: 150px;
	
}

.project-card {

	font-size: 18px; 
	margin-top: 20px; 
	background-color: white; 
	padding: 30px 20px; 
	border-radius: 10px;

}

.project-card-period {
	
	color: #98A8B9;
	
}

.project-card-title {
	
	margin-top: 10px; 
	border-bottom: #ccc solid 1px; 
	font-size: 24px; 
	padding-bottom: 20px;
	
}

.project-card-role {

	margin-top: 30px;

}

.project-card-role-content {

	padding: 0px 20px; 
	margin-top: 10px; 
	font-size: 16px;

}

.project-card-work {

	margin-top: 20px;

}

.project-card-work-list {

	font-size: 16px;

}

.project-card-work-list .project-card-work-item-title:first-child {

	margin-top: 10px;

}
.project-card-work-item-title {

	margin-top: 20px;

}
.project-card-work-item-content {

	padding: 0px 20px; 
	margin-top: 10px; 
	color: #616161;
	font-weight: normal;

}

.project-card-stack {
	
	border-top: #ccc solid 1px;
	padding-top: 20px;
	margin-top: 40px;
	
}